body{
    font-family: 'Lilita One', sans-serif;
    background-color: rgb(159, 255, 223);
}

p{
    top: 35% !important;
    font-size: 60px;
}

button{
    font-family: 'Lilita One', sans-serif;
    border-radius: 5px;
    font-size: 20px;
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: .4s ease;
}

button:hover{
    background-color: black;
    color: white;
}

h1{
    font-size: 70px;

}

.centered-object{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.decrease-button{
    left: 43%;
}

.reset-button{
    left: 50%;
}

.increase-button{
    left: 57%;
}